<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="content-container">
        <div class="grid-row">
            <img class="logo" src="https://i.ibb.co/RgwwmkM/logo.png" height="100px" alt="Cheesebook">
            <nav class="navigation">
                <%= link_to 'Home', home_path, {:class => 'navLink'} %>
                <%= link_to 'Add Post', new_post_path, {:class => 'navLink'}%>
            <form class="form-inline mt-2 mt-md-0" action="/search">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </nav>
        </div>
    </div>       
  </header>
  



  <%= yield %>

  
  </body>
</html>
